body{
    width: 100vw;
    height: 100vh;
    background-color: #333;
}
input{
    width: 0;
    height: 0;
}
.slider-window{
    width: 80%;
    height: 70%;
    /* border: 1px solid red; */
    margin: 0 auto;
    border-radius: 10%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
}
.slide-container{
    width: 400%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 0;
    transition: 1s;
}
#slide1:checked~.slider-window .slide-container{
    margin-left: 0;
}

#slide2:checked~.slider-window .slide-container{
    margin-left: -100%;
}

#slide3:checked~.slider-window .slide-container{
    margin-left: -200%;
}

#slide4:checked~.slider-window .slide-container{
    margin-left: -300%;
}

.label-container{
    /* height: 40px;
    width: 40px; */
    width: 40%;
    display: flex;
    /* background-color: black; */
    justify-content: right;
    align-items: center;
} 
label{
    display: block;
    height: 10vh;
    width: 10vh;
    /* border: 1px solid blue; */
    transition: 0.5s;
    cursor: pointer;
    margin-right: 2%;

}

label:hover .firstRadius{
    background-color: white;
}
label:active .firstRadius{
    background-color: #999;
}
/* label:hover .secondRadius{
    background-color: black;
}

label:hover .thirdRadius{
    background-color: green;
} */

.firstRadius{
    height: 60%;
    width: 60%;
    /* border: 1px solid red; */
    margin: 15%;
    /* padding: 10%; */
    border-radius: 100%;
    background-color: blue;
    transition: 0.5s;
    border:  transparent solid
}
.secondRadius{
    width: 80%;
    height: 80%;
    /* border:  1px solid yellow; */
     margin: 10%;
    /* margin-top: 20%; */ 
    border-radius: 50%;
    background-color: transparent;
    transition: 0.5s;
}
/* .thirdRadius{
    width: 80%;
    height: 80%;
    
    margin: 10%;
    border-radius: 50%;
    background-color: blue;
    transition: 0.5s;
} 
*/
#slide1:checked~.container .label-container [for='slide1'] .secondRadius{
    background-color: #333
}
#slide2:checked~.container .label-container [for='slide2'] .secondRadius{
    background-color: #333

}
#slide3:checked~.container .label-container [for='slide3'] .secondRadius{
    background-color: #333
}
#slide4:checked~.container .label-container [for='slide4'] .secondRadius{
    background-color: #333
}

.container{
    margin-top: 1%;
    display: flex;
    flex-direction: row-reverse;
    height: 15%;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.text-slider_window{
    height: 100%;
    width: 40%;
    border-radius: 5%;
    overflow: hidden;
    border: 0.01% solid transparent;
}

.text-slider-container{
    display: flex;
    width: 400%;
    height: 100%;
    transition: 1s;
    flex-grow: 1;
}
p{
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 4vh;
    background-color: aliceblue;
    text-align: center;
    /* line-height: 320%; */
    /* padding-top: 10%; */
}

#slide1:checked~.container .text-slider-container{
    margin-left: 0;
}

#slide2:checked~.container .text-slider-container{
    margin-left: -100%;
}

#slide3:checked~.container .text-slider-container{
    margin-left: -200%;
}

#slide4:checked~.container .text-slider-container{
    margin-left: -300%;
}